@model IEnumerable<MTGWebUI.Models.EmployeeVM>

@{
    ViewData["Title"] = "Index";
}
<div class="row text">
    <div class="col-md">
        <h2>Employees</h2>

        <hr />
        <div class="row">
            <div class="col-md">
                <table class="table @ViewData["Title"]">
                    <thead>
                        <tr>
                            @await Html.PartialAsync("_EmployeesListHeaders", Model)
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                            <tr class="@item.State.ToString()">
                            @await Html.PartialAsync("_EmployeesListRow", item)
                            <td class="align-middle" style="white-space:nowrap;">
                                @Html.ActionLink("Edit", "Edit", new {  id = item.Id }, new {@class="btn btn-warning btn-sm" })
                                @Html.ActionLink("Details", "Details", new { id=item.Id  }, new {@class="btn btn-secondary btn-sm" })
                                @Html.ActionLink("Delete", "Delete", new {  id=item.Id }, new {@class="btn btn-danger btn-sm" })
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group mt-2 float-end">
                    <a class="btn btn-primary float-start" asp-action="Create">Create New</a>
                    <form asp-action="Save">
                            <button id="Save" type="submit" class="btn btn-success float-end" @ViewBag.Pending>Save</button>
                    </form>
                    <form asp-action="Cancel">
                            <button id="Cancel" type="submit" value="Discard" class="btn btn-danger float-end" @ViewBag.Pending>Discard</button>
                    </form>
                    @if (ViewBag.Pending != null)
                    {
                        <button class="btn btn-info float-end" disabled>Show changes</button>
                    }
                    else
                    {
                        <a class="btn btn-info float-end" asp-action="Pending">Show changes</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_LegendFloat", Model)