<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MTGWebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MTGWebUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Employee" asp-action="Index">MTGWebUI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="display: block !important;">
                    @if(ViewContext.RouteData.Values["Action"]!.ToString() == "Index" || ViewContext.RouteData.Values["Action"]!.ToString() == "Pending")
                    {
                        <div class="float-end">
                            <form class="form-inline my-2 my-lg-0 d-flex" asp-controller="Employee" style="padding-right: 25px;">
                                @Html.AntiForgeryToken()
                                    @if (!string.IsNullOrEmpty(ViewBag.SearchString))
                                    {
                                        <input name="searchString" value="@ViewBag.SearchString" type="text" class="form-control" style="background-color:#fde7e7;" placeholder="Search for a..." aria-label="" aria-describedby="button-addon2">
                                        <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
                                    }
                                    else
                                    {
                                        <input name="searchString" value="@ViewBag.SearchString" type="text" class="form-control" placeholder="Search for a..." aria-label="" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>

                                    }
                            </form>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-white">
            &copy; 2022 - MTGWebUI
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
